* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
    color: #241611;
}

body {
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-color: #241611;
    background-repeat: no-repeat;
}

.container {
    max-width: 960px;
    width: 100%;
    max-height: 860px;
    height: 100%;
    background-color: rgba(227, 225, 222, 0.9);
    border: solid 2px #241611;
    border-radius: 15px;
    margin: auto;
    margin-top: 130px;
}

header{
    display: flex;
    justify-content: center;
    padding: 40px 0;
    font-size: 18px;
    border-bottom: solid 2px #241611;
}

header img {
    width: 50px;
    margin-right: 12px;
}

.main {
    display: flex;
    justify-content: space-between;
}

.tbody {
    overflow-y: scroll;
    max-height: 500px;
}

table {
    max-height: 100%;
    margin: 0 12px;
    text-align: center;
    font-size: 22px;
}

thead, tbody, tfoot {
    display: block;
}

table thead {
    border-bottom: solid 2px #241611;
    font-size: 24px;
}

table th {
    width: 350px;
    padding: 12px;
}

table tfoot {
    border-top: solid 2px #241611;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0;
    margin-left: 12px;
}

form h2 {
    margin-bottom: 6px;
}

form input {
    width: 250px;
    padding: 6px;
    font-size: 16px;
    margin: 6px 0;
    border-color: #241611;
    border-radius: 15px;
    border: 0;
}

form button {
    width: 250px;
    padding: 6px;
    font-size: 16px;
    margin: 6px 0;
    font-weight: bold;
    background-color: rgba(175,177,178, 0.9);
    cursor: pointer;
    border-radius: 15px;
    border: 0;
}

form button:hover {
    background-color: rgba(176,139,125, 0.9);
}